@tailwind base;
@tailwind components;
@tailwind utilities;

.dropbtn {
 background-color: white;
 color: black;
 padding: 1px;
 font-size: 16px;
 border: none;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: cyan;
      min-width: 300px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 20px;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
    color: black;
    font-size: medium;
    padding: 12px 16px;
    text-decoration: flex;
      display: block;
      border-radius: 12px;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: black;
     color: white;
     margin-left: 30px;
    scale: 20px;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: white;}

    .dropbtn-x {
        background-color: black;
        color: white;
        
        font-size: 16px;
        border: none;
           }
           
           /* The container <div> - needed to position the dropdown content */
           .dropdown-x {
             position: relative;
             display: inline-block;
             background-color: black;
           }
           
           /* Dropdown Content (Hidden by Default) */
           .dropdown-content-x {
             display: none;
             position: absolute;
             background-color: cyan;
             min-width: 200px;
             box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
             z-index: 1;
             border-radius: 20px;
           }
           
           /* Links inside the dropdown */
           .dropdown-content-x a {
           color: black;
           font-size: medium;
          
           text-decoration: none;
             display: block;
             border-radius: 12px;
           }
           
           /* Change color of dropdown links on hover */
           .dropdown-content-x a:hover {background-color: black;
            color: white;
            margin-left: 30px;
           scale: 20px;}
           
           /* Show the dropdown menu on hover */
           .dropdown-x:hover .dropdown-content-x {display: block;}
           
           /* Change the background color of the dropdown button when the dropdown content is shown */
           .dropdown-x:hover .dropbtn-x {background-color: cyan;}


           .swiper {
            width: 100%;
            height: 100%;
          }
          
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
          
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
          
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          
          .autoplay:active
          {
            transform:scale(0.8);
          }
          